 #sg-promo-sidebar {
     float: right;
     position: sticky;
     top: 100px;
     background: #f0f0f1;
     right: 0px;
     height: 0px;
     z-index: 9;
 }

 #sg-promo-sidebar ul li {
     color: #000;
     line-height: 20px;
     margin-bottom: 12px;
 }

 #sg-promo-sidebar ul li a:hover {
     color: cornflowerblue
 }

 #sg-promo-sidebar ul li>a {
     text-decoration: none;
     color: currentColor;
 }

 .round.button {
     border-radius: 32px;
     display: inline-flex;
     align-items: center;
     padding: 6px 12px;
     gap: 8px;
 }

 .sg-icon {
     color: currentColor;
     font-size: 24px;
     margin-right: 8px;
     opacity: 0.7;
 }

 #sg-promo-sidebar .card {
     background: #fff;
     background-image: url('./img/offer-promotion.svg');
     background-repeat: no-repeat;
     background-position: 95% 14px;
     background-size: 80px;
     position: relative;
     margin-top: 20px;
     padding: .7em 2em 1em;
     min-width: 255px;
     max-width: 520px;
     border: 1px solid #c3c4c7;
     box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
     box-sizing: border-box;
 }

 #sg-promo-sidebar .card .card-content {
     max-width: 65%;
 }

 #sg-promo-sidebar .card-content .title {
     line-height: 24px;
 }

 .card .action img {
     max-width: 24px;
 }

 @media (max-width: 700px) {
     #promo-helpfull-links {
         display: none;
     }
 }